body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#icon {
  width: 3rem;
}
* {
   background: rgb(170, 170, 170);
 }
.container{
  display: flex;
  justify-content:center;
  
}

 .navbar{
   display: flex;
   justify-content: space-between;
 }
 a {
   padding: 1rem;
 
 }
 .container{
   display: flex
 }

 .footer-container{
   display:flex;
   justify-content:center;
 }

 .footer{
   display: flex;
   justify-content:center;
 }

 #mwpLogo {
  height: 40px;
  margin-left: 1rem;

 }

 #bioText{
   font-size:1.5rem;
 }

 .card{
   width: 70%;
   
 }

 .card-header{
   background-color: blue;
 }